In [3]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [6]:
import pyarrow.parquet as pq

parquet_file = pq.ParquetFile("./green_tripdata_2025-11.parquet")

In [7]:
first = True

print("Starting db import")

for batch in parquet_file.iter_batches():
    batch_df = batch.to_pandas()
    if first:
        batch_df.head(0).to_sql(
            name="green_trip_data",
            con = engine,
            if_exists="replace"
        )
        print("db created")
    batch_df.to_sql(
            name="green_trip_data",
            con = engine,
            if_exists="append"
    )
    print(f"Inserted #{len(batch_df)} at green_trip_data")
print("done!")

Starting db import
db created
Inserted #46912 at green_trip_data
done!

In [8]:
zones_df = pd.read_csv(
    "./taxi_zone_lookup.csv",
)

In [9]:
zones_df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [12]:
zones_df.to_sql(
    name="taxi_zone_lookup",
    con=engine,
    if_exists="replace"
)

265